book
gen

yarn.lock
.pytest_cach
.idea/
node_modules/
.pynb_checkpoints
package-lock.json
.vscode/
__pycache__/
*.lock
.DS_Store
*.iml
ehthumbs.db
.vs/
*.unityproj
*.pidb
/*.csproj
/*.sln
.Spotlight-V100
*.userprefs
Temp/
*.unitypackage
Library/
*.suo
*.apk
.Trashes
ExportedObj/
obj/
._*
.DS_Store?
1/
Logs/
*.booproj
Thumbs.db
*.user
*.svd